[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"

[packages]
django = "*"
djangorestframework = "*"
mysqlclient = "*"
"boto3" = "*"
botocore = "*"
"html2text" = "*"
django-cors-headers = "*"

[requires]
python_version = "3.7"
